<h3 style="margin-top:20px;margin-left:10px;">ADD  &nbsp;EMPLOYEE  &nbsp;PAGE</h3>
 <form  class="div">
  <label >USERNAME:</label><input  type="text" id="name" value={{name}} /><br/><br/>
            <label >ID:</label><input type="text" class="text" value={{id}} readonly=true><br/><br/>
            {{!-- <label>PASSWORD</label><input  type="password" id="password"  /><br/><br/> --}}
            <label >AGE:</label><input  type="text" id="age"  value={{age}}/><br/><br/>
            <label >GENDER:</label><input  type="radio" name="gender" value="male"  checked> Male
            <input  type="radio" name="gender" value="female" > Female <br><br>
            <label style="display:'inline'">ISLICENSED:</label><input type="radio" name="isregistered" value='true'  />Yes 
            <input type="radio" name="isregistered" style="display:'inline'" value='false'  checked/>No <br/><br/>
            <label style="display:'inline'">ISVERIFIED:</label><input  type="radio" name="isverified" value='true' checked />Yes 
            <input  type="radio" name="isverified" value='false'/>No <br/><br/>
            <label >DOJ:</label><input  type="date"  id="doj"  value={{doj}} /><br/><br/>
            <label >PLACE:</label><input  type="text"id="place" value={{place}} /><br/><br/>
            <label >CONTACT:</label><input type="text"  id="contact" value={{contact}} /><br/><br/>
            <label >DEPT:</label> <select style="margin-left:80px" id="dept" style="display:'inline'">
                <option value={{dept}}>{{dept}}</option>
    <option value="testing">testing</option>
    <option value="sales">sales</option>
    <option value="dev">dev</option>
    <option value="tech.sup">marketting</option>
    <option value="hr">hr</option>
  </select><br/><br/>
            <input style="margin-left: 250px;margin-top:15px" type="button" id="up1" value="UPDATE"  {{action "ajax1" }} />
            <input style="margin-left: 15px" type="reset" value="CLEAR" />
</form>

{{yield}}
