
<tr>
    <td><input type="checkbox" id={{id}}></td>
    <td>{{name}}</td>
    <td>{{id}}</td>
    <td>{{age}}</td>
    <td>{{gender}}</td>
    <td>{{isregistered}}</td>
    <td>{{isverified}}</td>
    <td>{{place}}</td>
     <td>{{dept}}</td>
     <td>{{contact}}</td>
    <td>{{doj}}</td>
    </tr> 
{{yield}}