
    {{!-- <input style="margin-left:10px" type="button" name="sub"  value="<<" />
    <label id="lb" value=""></label>
    <input type="hidden" value="<%=p%>" name="in1">
    <input type="hidden" value="<%=q1%>" name="in2">
    <input type="button" name="sub"  value=">>" />
    <div class="dropdown">
        <label {{action "fn6"}} ></label>
        <div id="myDropdown1" class="dropdown-contenta">
            <input class="dropbtna" type="button" name="submit" value="2" {{action "fn5"}} /><br>
            <input class="dropbtna" type="button" name="submit" value="4" {{action "fn5"}} /><br>
            <input class="dropbtna" type="button" name="submit" value="6" {{action "fn5"}} /><br>
            <input class="dropbtna" type="button" name="submit" value="8" {{action "fn5"}} />

        </div>
    </div> --}}
<div class="dropdown">
    <input type="button" {{action "tog" }}  value="Add/Remove Columns" />
    <div id="myDropdown" class="dropdown-content">
        <input style="margin-left:0px;margin-right:15px;" type="checkbox" name="col" value="1" disabled checked=true/>name<br>
        <input style="margin-left:0px;margin-right:15px;" type="checkbox" name="col" value="2" checked=true/>id<br>
        <input style="margin-left:0px;margin-right:15px;" type="checkbox" name="col" value="3" checked=true/>age<br>
        <input style="margin-left:0px;margin-right:15px;" type="checkbox" name="col" value="4" checked=true/>gender<br>
        <input style="margin-left:0px;margin-right:15px;" type="checkbox" name="col" value="5" checked=true/>islicensed<br>
        <input style="margin-left:0px;margin-right:15px;" type="checkbox" name="col" value="6" checked=true/>isverified<br>
        <input style="margin-left:0px;margin-right:15px;" type="checkbox" name="col" value="7" checked=true/>place<br>
        <input style="margin-left:0px;margin-right:15px;" type="checkbox" name="col" value="8" checked=true/>dept<br>
        <input style="margin-left:0px;margin-right:15px;" type="checkbox" name="col" value="9" checked=true/>contact<br>
        <input style="margin-left:0px;margin-right:15px;" type="checkbox" name="col" value="10" checked=true/>doj<br>
        <input style="margin-left:0px;margin-right:15px;" type="button"  {{action "fn3" }} value="Apply" /> <input type="button"  {{action "fn4" 1}}value="Reset" />
    </div>
</div>
<div id="my" class="dropdown">
    <div class="dropdown">
        <input type="button"  {{action "fun2" }}value="Search"/>
        
   {{!-- <button {{action able}}>nn</button> --}}
        <div id="myDropdown2" class="dropdown-contenta">
            <input style="margin:0px" class="dropbtna" type="button" name="submit" id="1" value="name       " {{action "fun" 1}} /><br>
            <input style="margin:0px" class="dropbtna" type="button" name="submit" id="2" value="id            " {{action "fun" 2}} /><br>
            <input style="margin:0px" class="dropbtna" type="button" name="submit" id="3" value="age        " {{action "fun" 3}}/><br>
            <input style="margin:0px" class="dropbtna" type="button" name="submit" id="4" value="gender     " {{action "fun" 4}}/>
            <input style="margin:0px" class="dropbtna" type="button" name="submit" id="5" value="islicensed " {{action "fun" 5}}/><br>
            <input style="margin:0px" class="dropbtna" type="button" name="submit" id="6" value="isverified " {{action "fun" 6}} /><br>
            <input style="margin:0px" class="dropbtna" type="button" name="submit" id="7" value="place      " {{action "fun" 7}}/><br>
            <input style="margin:0px" class="dropbtna" type="button" name="submit" id="8" value="dept       " {{action "fun" 8}}/><br>
            <input style="margin:0px" class="dropbtna" type="button" name="submit" id="9" value="contact    " {{action "fun" 9}}/>
            <input style="margin:0px" class="dropbtna" type="button" name="submit" id="9" value="doj    " {{action "fun" 10}}/>
        </div>
        
    </div>
 {{input disabled=true id="ip" enter="fun1"}}
</div>



{{yield}}