<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"></head>
<h3 style="margin-top:20px;margin-left:10px;margin-bottom:10px;">EMPLOYEE &nbsp;DETAILS</h3>
{{view-emp}}
<div class="div_table">
    <table class="table table-striped">
        <tr>
            {{!-- <th></th> --}}
            <th>Name <button type="button" class="sortbtn" id="0a" {{action fn 0}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></th>
            <th>Id <button type="button" class="sortbtn" id="1a" {{action fn 1}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></th>
            <th>Age <button type="button" class="sortbtn" id="2a" {{action fn 2}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></th>
            <th>Gender <button type="button" class="sortbtn" id="3a" {{action fn 3}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></th>
            <th>isregistered <button type="button" class="sortbtn" id="4a" {{action fn 4}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></th>
            <th>isverified <button type="button" class="sortbtn" id="5a" {{action fn 5}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></th>
            <th>place <button type="button" class="sortbtn" id="6a" {{action fn 6}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></th>
            <th>dept <button type="button" class="sortbtn" id="7a" {{action fn 7}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></th>
            <th>contact <button type="button" class="sortbtn" id="8a" {{action fn 8}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></th>
            <th>doj <button type="button" class="sortbtn" id="9a" {{action fn 9}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></th>
        </tr>
       {{#each model as |user|}}
        {{!-- {{table-rows name=user.name  id=user.UserId  age=user.age  gender=user.gender  place=user.place  contact=user.contact  doj=user.doj  dept=user.dept  isregistered=user.isregistered  isverified=user.isverified }} --}}
       
<tr>
    {{!-- <td><input type="checkbox" id={{user.id}}></td> --}}
    <td>{{user.name}}</td>
    <td>{{user.UserId}}</td>
    <td>{{user.age}}</td>
    <td>{{user.gender}}</td>
    <td>{{user.isregistered}}</td>
    <td>{{user.isverified}}</td>
    <td>{{user.place}}</td>
     <td>{{user.dept}}</td>
     <td>{{user.contact}}</td>
    <td>{{user.doj}}</td>
    </tr> 
        {{/each}}
   </table>
  
 </div>
{{outlet}}